            body{
                background-color: #F0F2F5;
            }
            #left{
                position: relative;
                width: 42%;
                height: 50%;
                margin-top: 175px;
                margin-left: 105px;
                font-size: 28px;
            }
            #text{
                margin-top: -42px;
                padding-left: 30px;
                font-family: Helvetica, sans-serif;
            }
            #rigth{
                background-color: #ffffff;
                width: 395px;
                height: 350px;
                margin-top: -265px;
                margin-left: 715px;
                border-radius: 10px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
            }
            #second{
                margin-top: 18px;
            }
            #third{
                margin-top: 10px;
            }

            .inputs {
                font-size: 18px;
                width: 350px;
                height: 50px;
                border-radius: 7px;
                margin-left: 18px;
                border: 1px solid #ddd;
}
            #vhod{
                background-color: #1778f2;
                width: 358px;
                margin-left: 18px;
                margin-bottom: 5px;
                font-size: 20px;
            }
            #voity{
                font-size: 17px;
                font-weight: bold;
                background-color: #25bf1d;
                width: 237px;
                margin-left: 79px;
            }

            .buttons{
                color:#ffffff;
                text-decoration-color: #ffffff;
                font-weight: bold;
                border: #ffffff;
                margin-top: 10px;
                border-radius: 5px;
                height: 50px;
            }
